@model Gerenciador.Domain.SubTask

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "editSubtaskForm", id = "editSubtaskForm" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SubTask</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TaskId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Name, new { @class = "form-control input-lg", required="" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate, "{0:d}", new { type = "text", @class = "form-control input-lg", required="" })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpectedEndDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ExpectedEndDate, "{0:d}", new { type = "text", @class = "form-control input-lg", required="" })
            @Html.ValidationMessageFor(model => model.ExpectedEndDate)
        </div>
        
        @*<p>
            <input type="submit" value="Salvar" />
        </p>*@
    </fieldset>
}
