@model IEnumerable<Gerenciador.Domain.SubTask>

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover no-margin">
        <thead>
            <tr>
                <th style="width: 5%">
                    <input class="no-margin" type="checkbox">
                </th>
                <th style="width: 20%" >Código</th>
                <th style="width: 20%" class="hidden-phone">Nome</th>
                <th style="width: 15%" class="hidden-phone">Criação</th>
                <th style="width: 15%" class="hidden-phone">Início</th>
                <th style="width: 15%" class="hidden-phone">Término</th>
                <th style="width: 10%" class="hidden-phone">Status</th>
                <th style="width: 10%" class="hidden-phone">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) { 
                <tr>
                    <td>
                        <input class="no-margin" type="checkbox">
                    </td>
                    <td>
                        <span class="name">@Html.DisplayFor(x => item.Id)</span>
                    </td>
                    <td class="hidden-phone">@Html.DisplayFor(x => item.Name)</td>
                    <td class="hidden-phone">@Html.DisplayFor(x => item.CreatedAt)</td>
                    <td class="hidden-phone">@Html.DisplayFor(x => item.StartDate)</td>
                    <td class="hidden-phone">@Html.DisplayFor(x => item.ExpectedEndDate)</td>
                    <td class="hidden-phone">
                        <span class="label label label-info">@Html.DisplayFor(x => item.Status)</span>
                    </td>
                    <td class="hidden-phone">
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle" data-original-title="" title="">
                                Ações 
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="#">Edit</a>
                                </li>
                                <li>
                                    <a href="#">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
