@model Gerenciador.Domain.Task

@{
    ViewBag.Title = "Create";
}

<section class="content">

    <div class="row">                        
        <!-- column -->
        <div class="col-md-10 col-md-offset-1">
            <!-- general form elements disabled -->
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Criar Task</h3>
                </div><!-- /.box-header -->
                <div class="box-body">                    
                    @using (Html.BeginForm()) {
                        @Html.ValidationSummary(true)

                        <!-- text input -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-lg", placeholder="Digite um nome..." , required="" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <!-- textarea -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description)
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control input-lg", placeholder = "Digite uma descrição de até 240 caracteres", required="", rows=3})
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                        @Html.HiddenFor(m => m.ProjectId, new { Value = ViewBag.ProjectId })
                        <p>
                            <input type="submit" value="Criar" class="btn btn-lg btn-primary" />
                        </p>
                    }
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!--/.col -->
    </div>   <!-- /.row -->

</section><!-- /.content --> 


<div>
    @Html.ActionLink("Voltar", "Index")
</div>












@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
