@model Gerenciador.Domain.Task
@using Gerenciador.Web.UI.Helpers

@{
    ViewBag.Title = "Details";
}

<section class="content invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-file-text-o">@Model.Name</i>
                @Html.DisplayStatus("taskStatus", @Model.Status.ToString(), "pull-right")
            </h2>
            <div class="progress progress">
                <div id="taskUpdateBar" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="@Model.Progress" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Progress%">
                    <span id="progressLegend"><strong>@Model.Progress% Completo</strong></span>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <strong>Início </strong>
            <br />
            Criado: <strong>@Model.CreatedAt</strong><br>
            Iniciado: <strong>@DateTime.Now</strong><br />
            <strong>Término</strong><br>
            Expectativa inicial: <strong>xxxxx</strong>
            <br>
            Data de término: <strong>xxxx</strong><br>
            Variação: <strong>+/- 3 dias</strong>
        </div>
        <!-- /.col -->

        <div class="col-sm-4 invoice-col">
            <div class="box box-solid bg-light-blue-gradient">
                <div class="box-body no-padding">
                    <!--The calendar -->
                    <div id="calendar" style="width: 100%"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->

        <div class="col-sm-4 invoice-col">
            <strong>Ações </strong>
            <br />
            <a class="btn btn-app">
                <i class="fa fa-edit"></i>Conteúdo
            </a>
            <button class="btn btn-app" data-toggle="modal" data-target="#modalUpdateProgress">
                <i class="fa fa-play"></i>Progresso
            </button>
            <button class="btn btn-app" data-toggle="modal" data-target="#modalCreateSubTask">
                <i class="fa fa-arrow-circle-o-right"></i>Sub-Task
            </button>
            <button class="btn btn-app" data-toggle="modal" data-target="#modalCreateComment">
                <i class="fa fa-bullhorn"></i>Comentário
            </button>
            <button class="btn btn-app" data-toggle="modal" data-target="">
                <i class="fa fa-users"></i>Usuários
            </button>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <br />

    <div class="row">
        <div class="col-md-12">
            <blockquote>@Html.DisplayFor(x => x.Description)</blockquote>
        </div>
    </div>

    <h2>Micro tarefas</h2>
    <div id="subtasksContainer">
        @Html.Partial("~/Views/Task/_SubTaskWidget.cshtml", @Model.SubTasks)
    </div>
    
    <div class="row">
        <!-- accepted payments column -->
        <div class="col-md-6">
            <div id="taskComments">
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-6">
            <div id="taskTimeline"></div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <button class="btn btn-default pull-right" onclick="window.print();"><i class="fa fa-print"></i>Imprimir</button>
            <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i>Edita</button>
            <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i>Gerar PDF</button>
        </div>
    </div>
</section>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<!-- Modal -->
<div class="modal fade" id="modalUpdateProgress" tabindex="-1" role="dialog" aria-labelledby="modalUpdateProgressLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="modalUpdateProgressLabel">Progresso</h4>
            </div>
            <div class="modal-body">
                <input id="progressUpdaterSlider" type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="@Model.Progress" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="blue">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button id="btnProgressSave" type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCreateComment" tabindex="-1" role="dialog" aria-labelledby="modalCreateCommentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="modalCreateCommentLabel">Comentário</h4>
            </div>
            <div class="modal-body">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Escrever comentário</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- text input -->
                        <div class="form-group">
                            Comentário:
                            <br />
                            ​<textarea id="txtComment" rows="10" style="width: 100%"></textarea>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button id="btnCreateComment" type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCreateSubTask" tabindex="-1" role="dialog" aria-labelledby="modalCreateSubTaskLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="modalCreateSubTaskLabel">Sub Task</h4>
            </div>
            <div class="modal-body">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Criar uma nova SubTask</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- text input -->
                        <div class="form-group">
                            Nome:
                            <br />
                            ​<input type="text" id="txtSubTaskName" style="width: 100%" />
                        </div>
                        <div class="form-group">
                            Data de Início:
                            <br />
                            ​<input type="date" id="txtStartDate" style="width: 100%" /> 
                        </div>
                        <div class="form-group">
                            Data de Término:
                            <br />
                            ​<input type="date" id="txtEndDate" style="width: 100%" /> 
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button id="btnCreateSubTask" type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        $('.slider').slider();
        $("#calendar").datepicker({
            language: "pt-BR",
            format: 'dd/mm/yyyy',
            beforeShowDay: function (date) {
                var day = '@Model.CreatedAt.Day';
                //console.log(day);
                //console.log(date);
                //console.log(date.getMonth());
                //console.log(date.getDate());
                if (date.getMonth() == (new Date()).getMonth()) {
                    switch (date.getDate()) {
                        case 4:
                            return {
                                tooltip: 'Example tooltip',
                                classes: 'active'
                            };
                        case 8:
                            return false;
                        case 12:
                            return "green";
                    }
                }
            }
        });

         $(document).ready(function () {
            var _projectId = '@(Model.ProjectId)';
            var _id = '@(Model.Id)';
            LoadComments(_projectId, _id);
            LoadTimeline();

            //Async Populates Comments 
            function LoadComments(_projectId, _taskId) {
                this.dataToSend = { projectId: _projectId, taskId: _taskId };
                $.ajax({
                    url: '@Url.Action("Index", "Comments")',
                    data: this.dataToSend,
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'
                })
                .success(function (result) {
                    $('#taskComments').html(result);
                })
                .error(function (xhr, status) {
                    alert('erro status: ' + status);
                });
            }

            //async populates timeline
            function LoadTimeline() {
                $.ajax({
                    url: '@Url.Action("GetTimeline", "Task", new { taskId = @Model.Id })',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'
                })
                .success(function (result) {
                    $('#taskTimeline').html(result);
                })
                .error(function (xhr, status) {
                    alert('erro status: ' + status);
                });
            }

             //Update Progress
             $(".modal-footer").on("click", "#btnProgressSave", function () {
                 this._projectId = '@(Model.ProjectId)';
                this._id = '@(Model.Id)';
                var _valueToUpdate = $('#progressUpdaterSlider')[0].value
                var posting = $.post('/Task/UpdateProgress', { projectId: _projectId, id: _id, newValue: _valueToUpdate });
                posting.done(function (data) {
                    var dataToUpdate = data + '%';
                    $('#modalUpdateProgress').modal('hide')
                    $('#taskUpdateBar').width(dataToUpdate);
                    $("#progressLegend").html($('<strong/>').append(dataToUpdate + ' Completo'));
                    $('#taskUpdateBar').attr('aria-valuenow', data);
                    if (data == 100) {
                        $('#taskStatus').attr("class", "pull-right label label-success").html('completa');
                    } else {
                        $('#taskStatus').attr("class", "pull-right label label-warning").html('aberta');
                    }
                    LoadTimeline();
                });
            });

             //subtasks actions
             $(".subtaskActions").on("click", "a", function (event) {
                 console.log('setdone');
                event.preventDefault();
                var taskId = '@(Model.Id)';
                var subtaskId = $(this).closest('tr').data("id");
                var action = $(this).data("action");
                if (action == "setDone"){
                    SetTaskDone(taskId, subtaskId);
                }                
             });

             //set subktask done
             function SetTaskDone(_taskId, _subTaskId) {
                 var posting = $.post('/Task/SubTaskDone', { taskId: _taskId, subTaskId: _subTaskId }, 'html');
                 posting.done(function (result) {
                     $('#subtasksContainer').html('');
                     $('#subtasksContainer').html(result);
                 });
             }

            //Create Comments
            $(".modal-footer").on("click", "#btnCreateComment", function () {
                this._projectId = '@(Model.ProjectId)';
                this._id = '@(Model.Id)';
                var posting = $.post('@Url.Action("Create", "Comments")', {
                    projectId: this._projectId,
                    taskId: this._id,
                    content: $('#txtComment').val()
                });
                posting.done(function (result) {
                    this._projectId = '@(Model.ProjectId)';
                    this._id = '@(Model.Id)';
                    $('#modalCreateComment').modal('hide');
                    $('#txtComment').val('');
                    LoadComments(this._projectId, this._id);
                    LoadTimeline();
                });
            });

            //Create Subtask
            $(".modal-footer").on("click", "#btnCreateSubTask", function () {
                this._projectId = '@(Model.ProjectId)';
                this._id = '@(Model.Id)';
                var posting = $.post('@Url.Action("CreateSubTask", "Task")', {
                    projectId: this._projectId,
                    taskId: this._id,
                    name: $('#txtSubTaskName').val(),
                    startDate: $('#txtStartDate').val(),
                    endDate: $('#txtEndDate').val()
                });
                posting.done(function (result) {
                    this._projectId = '@(Model.ProjectId)';
                    this._id = '@(Model.Id)';
                    $('#modalCreateSubTask').modal('hide');
                    $('#txtSubTaskName').val('');
                    $('#txtStartDate').val('');
                    $('#txtEndDate').val('');
                    appendSubtask(result);
                    LoadTimeline();

                    function appendSubtask(result) {
                        $("#subtasks").find('tbody:last')
                            .append($('<tr>')
                                .append($('<td>')
                                    .append($('<input>')
                                        .attr('class', 'no-margin')
                                        .attr('type', 'checkbox')
                                    )
                                )
                                .append($('<td>')
                                    .attr('class', 'hidden-xs')
                                    .append($('<span>')
                                        .attr('class', 'name')
                                        .text(result.id)
                                    )
                                )
                                .append($('<td>')
                                    .text(result.name)
                                )
                                .append($('<td>')
                                    .attr('class', 'hidden-xs')
                                    .text(result.createdAt)
                                )
                                .append($('<td>')
                                    .text(result.startDate)
                                )
                                .append($('<td>')
                                    .text(result.expectedEndDate)
                                )
                                .append($('<td>')
                                    .append($('<span>')
                                        .attr('class', result.status.cssClass)
                                        .attr('id', result.status.id)
                                        .text(result.status.data)
                                    )
                                )
                                .append($('<td>')
                                    .append($('<div>')
                                        .attr('class', 'btn-group')
                                        .append($('<button>')
                                            .attr('data-toggle', 'dropdown')
                                            .attr('class', 'btn btn-xs dropdown-toggle')
                                            .text("Ações")
                                            .append($('<span>')
                                                .attr('class', 'caret')
                                            )
                                        )
                                        .append($('<ul>')
                                            .attr('class', 'dropdown-menu pull-right subtaskActions')
                                            .append($('<li>')
                                                .append($('<a>')
                                                    .attr('href', '#')
                                                    .attr('data-action', 'setDone')
                                                    .text('Pronta')
                                                )   
                                            )
                                            .append($('<li>')
                                                .append($('<a>')
                                                    .attr('href', '#')
                                                    .attr('data-action', 'edit')
                                                    .text('Editar')
                                                )   
                                            )
                                            .append($('<li>')
                                                .append($('<a>')
                                                    .attr('href', '#')
                                                    .attr('data-action', 'delete')
                                                    .text('Excluir')
                                                )   
                                            )
                                        )
                                    )
                                )
                            );
                    }
                });
            });
        });
    </script>
}
