@model Gerenciador.Domain.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Task</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Done)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Done)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Progress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Progress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProjectId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastUpdatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastUpdatedAt)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>





<section class="content invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe">Task: @Model.Name</i> 
                <small class="pull-right">Data de Hoje: @DateTime.Now </small>
            </h2>
        </div><!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            Data de Criação <br />
            <strong>@Model.CreatedAt</strong><br>
        </div><!-- /.col -->
        <div class="col-sm-4 invoice-col">
            Data de Início <br />
            <strong>Incluir da de início</strong>
        </div><!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>Previsão de Término</b><br>
            <br>
            <b>Expectativa inicial:</b> xxxxx<br>
            <b>Data de término:</b> xxxx<br>
            <b>Diferença:</b> +/- 3 dias
        </div><!-- /.col -->
    </div><!-- /.row -->

    <!-- Table row -->
    <h2>Micro tarefas</h2>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Data de início</th>
                        <th>Data fim</th>
                        <th>Terminada?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3dc22228-851e-4611-b33d-d96f4f9c53aa</td>
                        <td>Sub tarefa 1</td>
                        <td>13/10/2014</td>
                        <td>16/10/2014</td>
                        <td>Sim</td>
                    </tr>
                    <tr>
                        <td>3dc22228-851e-4611-b33d-d96f4f9c53aa</td>
                        <td>Sub tarefa 2</td>
                        <td>13/10/2014</td>
                        <td>16/10/2014</td>
                        <td>Sim</td>
                    </tr>
                    <tr>
                        <td>3dc22228-851e-4611-b33d-d96f4f9c53aa</td>
                        <td>Sub tarefa 3</td>
                        <td>13/10/2014</td>
                        <td>16/10/2014</td>
                        <td>Não</td>
                    </tr>
                    <tr>
                        <td>3dc22228-851e-4611-b33d-d96f4f9c53aa</td>
                        <td>Sub tarefa 4</td>
                        <td>13/10/2014</td>
                        <td>16/10/2014</td>
                        <td>Não</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
            <p class="lead">Comentários:</p>
            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
            </p>
            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            </p>
            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            </p>
        </div><!-- /.col -->
        <div class="col-xs-6">
            <p class="lead">Timeline</p>
            <div class="col-md-12">
                <!-- The time line -->
                <ul class="timeline">
                    <!-- timeline time label -->
                    <li class="time-label">
                        <span class="bg-red">
                            10 Feb. 2014
                        </span>
                    </li>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <li>
                        <i class="fa fa-envelope bg-blue"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                            <h3 class="timeline-header"><a href="#">Support Team</a> sent you and email</h3>
                            <div class="timeline-body">
                                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                quora plaxo ideeli hulu weebly balihoo...
                            </div>
                            <div class='timeline-footer'>
                                <a class="btn btn-primary btn-xs">Read more</a>
                                <a class="btn btn-danger btn-xs">Delete</a>
                            </div>
                        </div>
                    </li>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <li>
                        <i class="fa fa-user bg-aqua"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                            <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
                        </div>
                    </li>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <li>
                        <i class="fa fa-comments bg-yellow"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                            <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                            <div class="timeline-body">
                                Take me to your leader!
                                Switzerland is small and neutral!
                                We are more like Germany, ambitious and misunderstood!
                            </div>
                            <div class='timeline-footer'>
                                <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                            </div>
                        </div>
                    </li>
                    <!-- END timeline item -->
                    <!-- timeline time label -->
                    <li class="time-label">
                        <span class="bg-green">
                            3 Jan. 2014
                        </span>
                    </li>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <li>
                        <i class="fa fa-camera bg-purple"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                            <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
                            <div class="timeline-body">
                                <img src="http://placehold.it/150x100" alt="..." class='margin' />
                                <img src="http://placehold.it/150x100" alt="..." class='margin'/>
                                <img src="http://placehold.it/150x100" alt="..." class='margin'/>
                                <img src="http://placehold.it/150x100" alt="..." class='margin'/>
                            </div>
                        </div>
                    </li>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <li>
                        <i class="fa fa-video-camera bg-maroon"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
                            <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>
                            <div class="timeline-body">
                                <iframe width="300" height="169" src="//www.youtube.com/embed/fLe_qO4AE-M" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="timeline-footer">
                                <a href="#" class="btn btn-xs bg-maroon">See comments</a>
                            </div>
                        </div>
                    </li>
                    <!-- END timeline item -->
                    <li>
                        <i class="fa fa-clock-o"></i>
                    </li>
                </ul>
            </div><!-- /.col -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <button class="btn btn-default pull-right" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
            <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Edit</button>
            <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generate PDF</button>
        </div>
    </div>
</section>
