@model Gerenciador.Web.UI.Models.TaskViewModels.TaskViewModel
@using Gerenciador.Web.UI.Helpers
@using Newtonsoft.Json

@{
    ViewBag.Title = "Detalhes da Tarefa";
}

<section class="content invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-file-text-o"> @Model.Name</i>
                @Html.DisplayStatus("taskStatus", @Model.Status.ToString(), "pull-right")
            </h2>
            <div class="progress progress">
                <div id="taskUpdateBar" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="@Model.Progress" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Progress%">
                    <span id="progressLegend" style="cursor:crosshair"><strong>@Model.Progress% Completo</strong></span>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <strong>Início </strong>
            <br />
            Criado: <strong>@Html.DisplayFor(model => model.CreatedAt)</strong><br>
            Data de Hoje: <strong>@DateTime.Now</strong><br /><hr />
            <strong>Término</strong><br>
            Expectativa inicial: <strong data-bind="text: Deadline()"></strong>
            <br>
            Data de término: <strong data-bind="text: EndDate()"></strong><br />
            Variação: <strong data-bind="text: Variation()"></strong>
        </div>
        <!-- /.col -->

        <div class="col-sm-4 invoice-col">
            <div class="box box-solid bg-light-blue-gradient">
                <div class="box-body no-padding" style="height:250px">
                    <!--The calendar -->
                    <div id="calendar" style="width: 100%"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->

        <div class="col-sm-4 invoice-col" id="actionsPanel">
            <strong>Ações </strong>
            <br />
            <a class="btn btn-app" id="btnEditTaskAction">
                <i class="fa fa-edit"></i>Conteúdo
            </a>
            <button class="btn btn-app" data-toggle="modal" data-target="#modalUpdateProgress">
                <i class="fa fa-play"></i>Progresso
            </button>
            <button class="btn btn-app" data-toggle="modal" data-target="#modalCreateSubTask">
                <i class="fa fa-arrow-circle-o-right"></i>Sub-Task
            </button>
            <button class="btn btn-app" data-toggle="modal" data-target="#modalCreateComment">
                <i class="fa fa-bullhorn"></i>Comentário
            </button>
            <button class="btn btn-app" data-toggle="modal" data-target="">
                <i class="fa fa-users"></i>Usuários
            </button>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <br />

    <div class="row">
        <div class="col-md-12">
            <blockquote data-bind="text: Description()"></blockquote>
        </div>
    </div>

    <h2>Micro tarefas - Using knockout</h2>
    
    <div id="subtasksContainer" class="table-responsive">
        <table id="subtasks" class="table table-condensed table-striped table-bordered table-hover no-margin">
            <thead>
                <tr>
                    <th style="width: 5%">
                        <input class="no-margin" type="checkbox">
                    </th>
                    <th style="width: 22%" class="hidden-xs">Código</th>
                    <th style="width: 20%">Nome</th>
                    <th style="width: 15%" class="hidden-xs">Criação</th>
                    <th style="width: 15%" class="hidden-phone">Início</th>
                    <th style="width: 15%" class="hidden-phone">Término</th>
                    <th style="width: 8%" class="hidden-phone">Status</th>
                    <th style="width: 10%" class="hidden-phone"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: SubTasks">
                 <tr data-bind='attr: {"data-id": Id}'>
                     <td>
                        <input class="no-margin" type="checkbox">
                    </td>
                    <td class="hidden-xs">
                        <span class="name" data-bind="text: Id"></span>
                    </td>
                    <td><span data-bind="text: Name"></span></td>
                    <td class="hidden-xs"><span data-bind="text: moment(CreatedAt()).format('L')"></span></td>
                    <td><span data-bind="text: moment(StartDate()).format('L')"></span></td>
                    <td><span data-bind="text: moment(ExpectedEndDate()).format('L')"></span></td>
                    <td data-bind="html: Status()"></td>
                    <td>
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle" data-original-title="" title="">
                                Ações 
                                <span class="caret"></span>
                            </button>
                            <ul class="subtaskActions dropdown-menu pull-right" data-bind="html: Actions()">
                                <!-- Html Populated by knockout --> 
                            </ul>
                        </div>
                    </td>
                 </tr>
            </tbody>
        </table>
    </div>
    
    
    <div class="row">
        <!-- accepted payments column -->
        <div class="col-md-6">
            <div id="taskComments">
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-6">
            <div id="taskTimeline"></div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <button class="btn btn-default pull-right" onclick="window.print();"><i class="fa fa-print"></i>Imprimir</button>
            <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i>Edita</button>
            <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i>Gerar PDF</button>
        </div>
    </div>
</section>

<div class="row">
    <h2>Debug</h2>
    <div data-bind="text: ko.toJSON($data)"></div>
</div>

@Html.Partial("~/Views/Task/DetailsPopups.cshtml")

@section scripts{
    <script src="~/Scripts/custom/task/task_manager.js"></script>
    <script src="~/Scripts/custom/task/task-comment.js"></script>
    <script type="text/javascript">
        moment.locale('pt');
        var globalLocale = moment();
        $(document).ready(function () {
            @{
                var m = JsonConvert.SerializeObject(Model,
                            Formatting.None,
                            new JsonSerializerSettings() {
                                ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                            });
                }
            
            var data = JSON.parse("@Html.Raw(HttpUtility.JavaScriptStringEncode(m))");

            var _projectId = '@(Model.ProjectId)';
            var _taskId = '@(Model.Id)';
            TaskManagement.taskInit(data, _projectId, _taskId, document.body);
        });
    </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
