<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @*@Styles.Render("~/Content/css")*@
        @Styles.Render("~/Content/newcss")
        @Styles.Render("~/Content/newcsscommon")
        @Scripts.Render("~/bundles/modernizr")        
        <link href="~/Scripts/testJgrid/css/ui.jqgrid.css" rel="stylesheet" />
    </head>
    <body class="skin-blue">
        @Html.Partial("_Header")

        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    @Html.Partial("_Sidebar")
                </section>
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                @Html.Partial("_Localizer")

                <!-- Main content -->
                <section class="content">
                    @RenderBody()
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/customscripts")
        @*<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>*@
        <script src="~/Scripts/testJgrid/js/jquery.jqGrid.src.js"></script>
        <script src="~/Scripts/testJgrid/js/i18n/grid.locale-pt-br.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
