@using StackExchange.Profiling;
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/newcss")
        @Styles.Render("~/Content/newcsscommon")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="skin-blue">
        @Html.Partial("_Header")

        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    @Html.Partial("_Sidebar")
                </section>
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                @Html.Partial("_Localizer")

                <!-- Main content -->
                <section class="content">
                    @RenderBody()
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/customscripts")
        @*<script type="text/javascript">
            $(document).ready(function () {
                $.blockUI.defaults.css.border = 'none';
                $.blockUI.defaults.css.padding = '15px';
                $.blockUI.defaults.css.top = '30px';
                $.blockUI.defaults.css.backgroundColor = '#000';
                $.blockUI.defaults.css["-webkit-border-radius"] = '10px';
                $.blockUI.defaults.css["-moz-border-radius"] = '10px';
                $.blockUI.defaults.css.opacity = '.5';
                $.blockUI.defaults.css.color = '#fff';
                $.blockUI.defaults.css.baseZ = 9999
                
                //$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
            });            
        </script>
        

        <script type="text/javascript" >
           $(document).ready(function () {
               $(window).resize(function () {

                   ellipses1 = $("#bc1 :nth-child(2)")
                   if ($("#bc1 a:hidden").length > 0) { ellipses1.show() } else { ellipses1.hide() }
               })

           });

           jQuery.browser = {};
           (function () {
               jQuery.browser.msie = false;
               jQuery.browser.version = 0;
               if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                   jQuery.browser.msie = true;
                   jQuery.browser.version = RegExp.$1;
               }
           })();
        </script>  *@  
        @RenderSection("scripts", required: false)
        @*@MiniProfiler.RenderIncludes()*@

    </body>
</html>
