@model Gerenciador.Web.UI.Models.AdminDashboardViewModel
@using Gerenciador.Web.UI.Helpers
@using Newtonsoft.Json
@{
    ViewBag.Title = ViewBag.Message;
}

<h3>
    @Model.NumberActiveProjects <label>projetos</label>
</h3>
<h3>
                    @Model.NumberOfProposals <label>propostas</label>
                </h3>
<h3>
                    @Model.NumberOfTickets <label>tickets</label>
                </h3>
<h3>
                    @Model.NumberOfNewMessages <label>Mensagens</label>
                </h3>
@foreach (var project in Model.LastActivesProjects) { 
                        <dl>
                            <dt><a href="@Url.Action("Details", "Project", new { projectId = project.Id })">@project.Name</a></dt>
                            <dd>@project.Description</dd>
                        </dl>
                    }

                @foreach (var task in Model.NextTasks) { 
                    <dl>
                        <dt><a href="#"><i class="fa fa-exclamation-circle text-danger"></i> @task.Name</a></dt>
                        <dd>Projeto: @task.Project.Name</dd>
                        <dd>@task.Deadline</dd>
                        <dd><a href="#"><i class="fa fa-circle text-success"></i> @task.Project.Owner</a></dd>
                    </dl>
                }
                <ul class="list-unstyled">
                    @foreach (var user in Model.Users) { 
                        <li><a href="#"><i class="fa fa-circle text-success"></i> @user.Name</a></li>
                    }
                </ul>

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/custom/todo-list/todo.js"></script>

      
}